deepcamera/face_motion
deepcamera/images
deepcamera/data
deepcamera/sql
deepcamera/streams
deepcamera/cache
deepcamera/face_cropped
deepcamera/frames
deepcamera/videos
device_id
group_id

deepcamera_local/face_motion
deepcamera_local/images
deepcamera_local/data
deepcamera_local/sql
deepcamera_local/streams
deepcamera_local/cache
deepcamera_local/face_cropped
deepcamera_local/frames
deepcamera_local/videos